*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", sans-serif !important;
}


/* Estilo para o footer */

.foot{
    padding-top: 30px;
}
.title{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.container-fluid a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    opacity: 0.8;
}
.container-fluid a:hover{
    color: #fd729c;
    opacity: 1;
}
.container-fluid i{
    color: #fd729c;
    opacity: 1;
}

.end-footer{
    height: 10px;
    background-color: black;
}